<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="tests/bootstrap.php"
    beStrictAboutCoverageMetadata="true"
    requireCoverageMetadata="true">

    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="11.4" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <exclude>tests/HostValidation</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/CachedServiceGenerator/Service/MlcTemplates</directory>
            <directory>src/Commands</directory>
            <directory>src/Templates</directory>
            <directory>src/Enum</directory>
            <directory>src/Exception</directory>
            <directory>src/Interface</directory>
            <file>src/CopycatConfig.php</file>
        </exclude>
    </source>

    <coverage ignoreDeprecatedCodeUnits="true" pathCoverage="false">
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true" />
        </report>
    </coverage>

</phpunit>